<%= render :partial => "searchbox" %>

<div id="results" class="row compact">
  <%= render :partial => "trip", :collection => @trips, :as => :trip %>
</div>

<div id="footer" nextpage="<%= @page.to_i + 1 %> "/>

