<!DOCTYPE html>
<html>
<head>
  <title>Gone Fishing</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

		<div class="container">

			<header>
				<a class="logo" href="/">Gone Fishing</a>
				<blockquote>Get away from the rigors of daily life!</blockquote>
			</header>

			<%= yield %>

			<footer>
				<p>&copy; Gonefishing.com 2012</p>
                <nav>
                   <a class="top" href="#" title="Back to top"/>
                </nav>
			</footer>

		</div>


	</body>

</html>
